# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/

# Django
*.sqlite3
db.sqlite3
/staticfiles/
/mediafiles/
backend/staticfiles/

# Environment
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose.override.yml

# Node
node_modules/
.next/
out/
frontend-customer/.next/
frontend-customer/node_modules/
frontend-main/.next/
frontend-main/node_modules/

# OS
.DS_Store
Thumbs.db

# Secrets
.secrets.baseline

# Superpowers
.superpowers/
backend/celerybeat-schedule
